
SIPM_01:  192.168.1.200

Coinsidence:  1

Window of Coinsidense (in nsec):  20

Thresholds:
Channels  Thresh_L  Thresh_H   Offset   Length   Smooth   Power    Active
 of FADC   codes     codes      codes    codes    codes   volts    channel
    1        10       11          0      2044      8       4.27      1
    2        40       41          0      2044      8       4.27      1
    3        40       41          0      2044      8       4.27      1
    4        40       41          0      2044      8       4.27      1
    5        40       41          0      2044      8       4.27      1
    6        40       41          0      2044      8       4.27      1
    7        40       41          0      2044      8       2.50      1
    8        40       41          0      2044      8       4.27      1
    9        40       41          0      2044      8       4.27      1
    10       40       41          0      2044      8       4.27      1
    11       40       41          0      2044      8       4.27      1
    12       40       41          0      2044      8       4.27      1

Matrix_of_Coinsidence:
Thresh All	1   2   3   4   5   6   7   8   9  10  11  12
Thresh High
	1	1   0   0   0   0   0   0   0   0   0   0   0
	2	0   1   0   0   0   0   0   0   0   0   0   0
	3	0   0   1   0   0   0   0   0   0   0   0   0
	4	0   0   0   1   0   0   0   0   0   0   0   0
	5	0   0   0   0   1   0   0   0   0   0   0   0
	6	0   0   0   0   0   1   0   0   0   0   0   0
	7	0   0   0   0   0   0   1   0   0   0   0   0
	8	0   0   0   0   0   0   0   1   0   0   0   0
	9	0   0   0   0   0   0   0   0   1   0   0   0
	10	0   0   0   0   0   0   0   0   0   1   0   0
	11	0   0   0   0   0   0   0   0   0   0   1   0
	12	0   0   0   0   0   0   0   0   0   0   0   1
