
SIPM_01:  192.168.1.200

Coinsidence:  1

Window of Coinsidense (in nsec):  20

Thresholds:
Channels  Thresh_L  Thresh_H   Offset   Length   Smooth   Power    Active
 of FADC   codes     codes      codes    codes    codes   volts    channel
    1        100      100          0      2044      8       4.2746      1
    2        100      100          0      2044      8       4.2746      1
    3        100      100          0      2044      8       4.2746      1
    4        100      100          0      2044      8       4.2746      1
    5        100      100          0      2044      8       4.2746      1
    6        100      100          0      2044      8       4.2746      1
    7        100      100          0      2044      8       4.2746      1
    8        100      100          0      2044      8       2.50        1
    9         40       41          0      2044      8       4.2746      1
    10        40       41          0      2044      8       4.27      1
    11        40       41          0      2044      8       4.27      1
    12        40       41          0      2044      8       4.27      1
    13        40       41          0      2044      8       4.27      1
    14        40       41          0      2044      8       4.27      1
    15        40       41          0      2044      8       2.50      1
    16        40       41          0      2044      8       4.27      1
    17        40       41          0      2044      8       4.27      1
    18        40       41          0      2044      8       4.27      1
    19        40       41          0      2044      8       4.27      1
    20        40       41          0      2044      8       4.27      1
    21        40       41          0      2044      8       4.27      1
    22        40       41          0      2044      8       4.27      1
    23        40       41          0      2044      8       2.50      1
    24        40       41          0      2044      8       4.27      1
    25        40       41          0      2044      8       4.27      1
    26        40       41          0      2044      8       4.27      1
    27        40       41          0      2044      8       4.27      1
    28        40       41          0      2044      8       4.27      1
    29        40       41          0      2044      8       4.27      1
    30        40       41          0      2044      8       4.27      1
    31        40       41          0      2044      8       2.50      1
    32        40       41          0      2044      8       4.27      1

Matrix_of_Coinsidence:
Thresh All	1   2   3   4   5   6   7   8   9  10  11  12
Thresh High
	1	1   0   0   0   0   0   0   0   0   0   0   0
	2	0   1   0   0   0   0   0   0   0   0   0   0
	3	0   0   1   0   0   0   0   0   0   0   0   0
	4	0   0   0   1   0   0   0   0   0   0   0   0
	5	0   0   0   0   1   0   0   0   0   0   0   0
	6	0   0   0   0   0   1   0   0   0   0   0   0
	7	0   0   0   0   0   0   1   0   0   0   0   0
	8	0   0   0   0   0   0   0   0   0   0   0   0
	9	0   0   0   0   0   0   0   0   0   0   0   0
	10	0   0   0   0   0   0   0   0   0   0   0   0
	11	0   0   0   0   0   0   0   0   0   0   0   0
	12	0   0   0   0   0   0   0   0   0   0   0   0
