
SIPM_01:  192.168.1.200

Coinsidence:  1

Window of Coinsidense (in nsec):  20

Thresholds:
Channels  Thresh_L  Thresh_H   Offset   Length   Smooth
 of FADC   codes     codes      codes    codes    codes
    1        100       110          0     2046      8
    2        100       110          0     2046      8
    3        100       110          0     2046      8
    4        100       110          0     2046      8
    5        100       110          0     2046      8
    6        100       110          0     2046      8
    7        100       110          0     2046      8
    8        100       110          0     2046      8
    9        100       110          0     2046      8
    10       100       110          0     2046      8
    11       100       110          0     2046      8
    12       100       110          0     2046      8

Matrix_of_Coinsidence:
Thresh All	1   2   3   4   5   6   7   8   9  10  11  12
Thresh High
	1	1   0   0   0   0   0   0   0   0   0   0   0
	2	0   1   0   0   0   0   0   0   0   0   0   0
	3	0   0   1   0   0   0   0   0   0   0   0   0
	4	0   0   0   1   0   0   0   0   0   0   0   0
	5	0   0   0   0   1   0   0   0   0   0   0   0
	6	0   0   0   0   0   1   0   0   0   0   0   0
	7	0   0   0   0   0   0   1   0   0   0   0   0
	8	0   0   0   0   0   0   0   1   0   0   0   0
	9	0   0   0   0   0   0   0   0   1   0   0   0
	10	0   0   0   0   0   0   0   0   0   1   0   0
	11	0   0   0   0   0   0   0   0   0   0   1   0
	12	0   0   0   0   0   0   0   0   0   0   0   1
